/* Increase the Navbar's height */
.navbar {
    padding: 20px 0; 
  }
  
  /* Increase the Navbar Brand font size */
  .navbar-brand {
    font-size: 24px; 
  }
  
  /* Increase the Nav Link font size */
  .nav-link {
    font-size: 18px; 
  }
  


  .mainPage {
	background-color: #2C302E;
	color: #FDFDFD;
	text-align: center;
	padding: 25px 0px;
  height: 100%;
}